div.panes {
    display: none;
    position: absolute;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: #0000002c;
}

div.panes.show {
    display: block;
}

div.panes > div.pane {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #666666;
    border-radius: 12px;
    box-shadow: 0 0 2px black;
}
div.panes > div.pane > div.title {
    position: relative;
    padding: 9px 15px;
}
div.panes > div.pane > div.title:before {
    content: '';
    position: absolute;
    top: calc(100% - 6px); left: 15px;
    width: calc(100% - 30px); height: 2px;
    background-color: #efefef;
}

div.panes > div.pane > div.wrapper > div.contents > * {
    vertical-align: top;
}